<div
  class=" block fixed w-maxx h-full bg-primary-yellow -translate-x-1/2	-skew-y-8 z-temp top-1/2 rounded-perfect left-1/2 ">
</div>
<div class="w-full h-full">
  <div class="max-w-[47.5rem] mx-auto my-0 h-screen flex items-center justify-between relative flex-wrap px-0 py-5 ">
    <div
      class="w-[22.5rem] h-[37.5rem] shadow-primary rounded-[1.875rem] overflow-hidden px-7 py-0 relative mb-5 bg-white">
      <div class="bg-primary-yellow w-[18.75rem] h-[18.75rem] absolute block rounded-perfect -top-[20%] -left-1/2 ">
      </div>
      <div class="block my-3 mx-0 relative w-full">
        <img class="overflow-clip w-[3.125rem] block" src="../assets/icon/nike.png">
      </div>
      <div class="font-rubik text-primary-black font-bold my-4 mx-0 relative block text-2xl">
        Our Products
      </div>
      <div class="h-[calc(100%-98px)] relative overflow-y-scroll block ">

        <div *ngFor="let item of productList;index as ind" class="py-10 px-0 block {{ind==0?'pt-0':''}}">
          <div [ngStyle]="{background: item.color}"
            class="rounded-[1.875rem] h-[23.75rem] flex items-center overflow-hidden">
            <img class="block w-full -rotate-[24deg] -ml-4 overflow-clip  filter drop-shadow-filter "
              src={{item.image}}>
          </div>
          <div class="font-bold mt-[1.625rem] mb-5 mx-0 text-xl leading-[1.5] block font-rubik text-primary-black">
            {{item.name}}

          </div>
          <div class="text-[13px] leading-[1.8] text-des-color mb-5 block font-rubik ">
            {{item.description}}
          </div>
          <div class="flex justify-between items-center">
            <div class="text-lg font-bold block font-rubik text-primary-black">
              {{'$'+item.price}}
            </div>
            <div *ngIf="isAdd(item.id)" (click)="addItem(item)"
              class=" hover:bg-opacity-75 cursor-pointer bg-primary-yellow font-bold text-sm box-border w-auto h-[2.875rem] min-w-[2.875rem] rounded-[6.25rem] transition-all ease-ease duration-.25 select-none	whitespace-nowrap	relative flex items-center overflow-hidden">
              <p class="text-sm font-bold select-none font-rubik text-primary-black block ms-4 me-4 "> ADD TO CART</p>
            </div>
            <div *ngIf="!isAdd(item.id)"
              class="pointer-events-none w-[2.875rem] cursor-default bg-primary-yellow font-bold text-sm box-border h-[2.875rem] min-w-[2.875rem] rounded-[6.25rem] transition-all ease-ease duration-.25 select-none	whitespace-nowrap	relative overflow-hidden flex items-center">
              <img src="assets/icon/check.png" class="p-3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[22.5rem] h-[37.5rem] shadow-primary rounded-[1.875rem] overflow-hidden px-7 py-0 relative mb-5 bg-white">
      <div class="bg-primary-yellow w-[18.75rem] h-[18.75rem] absolute block rounded-perfect -top-[20%] -left-1/2 ">
      </div>
      <div class="block my-3 mx-0 relative w-full">
        <img class="overflow-clip w-[3.125rem] block" src="../assets/icon/nike.png">
      </div>
      <div class="font-rubik text-primary-black font-bold my-4 mx-0 relative block text-2xl">
        Your Cart
        <span class="float-right font-rubik text-primary-black">
          ${{total | number : '.2-2'}}
        </span>
      </div>
      <div class="h-[calc(100%-98px)] relative overflow-y-hidden block ">
        <div *ngIf="cart.length==0" class="absolute block">
          <p class="block my-4 text-sm font-rubik text-primary-black left-0 font-light">Your cart is empty.</p>
        </div>
        <div *ngIf="cart.length>0" >
          <div *ngFor="let item of cart" class="flex py-5 px-0 ">
            <div class="flex-shrink flex-grow-0 block basis-[0%]	">
              <div [ngStyle]="{background: item.color}" class=" w-[5.625rem] h-[5.625rem] rounded-perfect mr-[2.125rem]">
                <div class="block">
                  <img
                    class="overflow-clip w-[140%] max-w-[140%] block -rotate-[28deg] -translate-y-10 filter drop-shadow-filter -translate-x-[1.25rem]"
                    src={{item.image}}>
                </div>

              </div>
            </div>
            <div class="flex-shrink flex-grow block basis-[0%]	">
              <div class="leading-[1.5] text-sm font-bold mb-[0.625rem] block font-rubik text-primary-black">
                {{item.name}}
              </div>
              <div class="leading-[1.5] text-xl font-bold mb-4 block font-rubik text-primary-black">
                {{item.price}}
              </div>
              <div class="flex  items-center justify-start">
                <div class="flex-shrink flex-grow  basis-[0%] flex items-center justify-start">
                  <div (click)="minus(item.id)"
                    class="cursor-pointer w-7 h-7 leading-7 rounded-perfect bg-bg-bt text-base font-bold flex justify-center items-center select-none transition-all duration-.2 ease-ease delay-0">
                    -
                  </div>
                  <div class="text-sm mx-2 my-0 w-5 text-center block">
                    {{item.amount}}
                  </div>
                  <div (click)="plus(item.id)"
                    class="cursor-pointer w-7 h-7  leading-7 rounded-perfect bg-bg-bt text-base font-bold flex justify-center items-center select-none transition-all duration-.2 ease-ease delay-0">
                    +
                  </div>
                </div>
                <div (click)="remove(item.id)"
                  class="cursor-pointer w-7 h-7  leading-7 rounded-perfect bg-primary-yellow text-base font-bold flex justify-center items-center select-none transition-all duration-.2 ease-ease delay-0">
                  <img class="w-4 h-4 overflow-clip cursor-pointer select-none" src="assets/icon/trash.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>