<div
  class="block fixed w-maxx h-full bg-primary-yellow -translate-x-1/2	-skew-y-8 z-temp top-1/2 rounded-perfect left-1/2 ">
</div>
<div class="w-full h-full">
  <div class="max-w-[47.5rem] mx-auto my-0 h-screen flex items-center justify-between relative flex-wrap px-0 py-5 ">
    <div
      class="w-[22.5rem] h-[37.5rem] shadow-primary rounded-[1.875rem] overflow-hidden px-7 py-0 relative mb-5 bg-white">
      <div class="bg-primary-yellow w-[18.75rem] h-[18.75rem] absolute block rounded-perfect -top-[20%] -left-1/2 ">
      </div>
      <div class="block my-3 mx-0 relative w-full">
        <img class="overflow-clip w-[3.125rem] block" src="../assets/icon/nike.png">
      </div>
      <div class="font-rubik font-bold my-4 mx-0 relative block text-2xl">
        Our Products
      </div>
      <div>
        
      </div>
    </div>
    <div
    class="w-[22.5rem] h-[37.5rem] shadow-primary rounded-[1.875rem] overflow-hidden px-7 py-0 relative mb-5 bg-white">
    <div class="bg-primary-yellow w-[18.75rem] h-[18.75rem] absolute block rounded-perfect -top-[20%] -left-1/2 ">
    </div>
    <div class="block my-3 mx-0 relative w-full">
      <img class="overflow-clip w-[3.125rem] block" src="../assets/icon/nike.png">
    </div>
    <div class="font-rubik font-bold my-4 mx-0 relative block text-2xl">
      Your Cart
      <span class="float-right">
        $0.00
      </span>
    </div>
  </div>

  </div>
</div>